h1{
    color:black;
    background-color: #8f345b;
}
p { color: white;
    background-color: #8f345b;
}
body {
    background-image: "C:\Users\User\Downloads\barbie.jpg";
    color: #e3d8dd;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}
fieldset { text-align: left;                  
}
label, input{
    display:block;
    margin-bottom: 10px;
}
input {
    background-color: #8f345b;
}
.options {
    width: 10px;
    height: 0%;
}